/* .messageCard {
    padding-top:10px;
    margin: 0 auto; 
  }

.container-center{
    padding-right: 1px;
    padding-left: 1px;
    top: 2%;
    left: 3%;

}

.cell-wrap-text {
    white-space: normal !important;
} */
